CREATE DATABASE db_SanofiConsolidadoGastos
GO
USE [db_SanofiConsolidadoGastos]
GO
/****** Object:  Schema [Sanofi]    Script Date: 19/12/2020 12:20:05 p. m. ******/
CREATE SCHEMA [Sanofi]
GO
/****** Object:  Table [Sanofi].[tbAthena]    Script Date: 19/12/2020 12:20:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Sanofi].[tbAthena](
	[IdSpending] [int] IDENTITY(1,1) NOT NULL,
	[Item] [int] NOT NULL,
	[PurchasinDoc] [varchar](11) NOT NULL,
	[DocumentDate] [date] NOT NULL,
	[Material] [varchar](11) NOT NULL,
	[ShortTxt] [varchar](70) NOT NULL,
	[OrderQty] [decimal](18, 0) NOT NULL,
	[SBDeliveredQty] [decimal](18, 0) NULL,
	[Unit] [varchar](8) NOT NULL,
	[NetPrice] [decimal](10, 2) NOT NULL,
	[NetOrderValue] [decimal](10, 2) NOT NULL,
	[Vendor] [varchar](100) NOT NULL,
	[Currency] [varchar](8) NOT NULL,
	[ReleaseState] [varchar](10) NULL,
	[StatusS] [bit] NOT NULL,
	[POHistory] [varchar](70) NULL,
	[Recent] [int] NOT NULL,
	[DteAdd] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSpending] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Sanofi].[tbCategorias]    Script Date: 19/12/2020 12:20:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sanofi].[tbCategorias](
	[Concatenar] [nvarchar](255) NULL,
	[Agrupador] [nvarchar](255) NULL,
	[CNATClase] [nvarchar](255) NULL,
	[CNATSubc] [nvarchar](255) NULL,
	[NoCta#] [nvarchar](255) NULL,
	[Descripción] [nvarchar](255) NULL,
	[Cenco] [float] NULL,
	[Denominación] [nvarchar](255) NULL,
	[Responsable] [nvarchar](255) NULL,
	[ISindicator] [nvarchar](255) NULL,
	[Hyperion] [nvarchar](255) NULL,
	[MasaSalarial] [nvarchar](255) NULL,
	[MC] [nvarchar](255) NULL,
	[AgrupadorNew] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [Sanofi].[tbErroresExcel]    Script Date: 19/12/2020 12:20:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Sanofi].[tbErroresExcel](
	[IdErroresExcel] [bigint] IDENTITY(1,1) NOT NULL,
	[Mensaje] [varchar](500) NULL,
	[Campo] [varchar](200) NULL,
	[Fila] [int] NULL,
	[IdModalidad] [tinyint] NOT NULL,
	[Fecha] [datetime] NULL,
	[Valor] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdErroresExcel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Sanofi].[tbGastos]    Script Date: 19/12/2020 12:20:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Sanofi].[tbGastos](
	[IdSpending] [int] IDENTITY(1,1) NOT NULL,
	[NomCuenta] [varchar](200) NOT NULL,
	[NomCentroC] [varchar](200) NOT NULL,
	[NroCuenta] [varchar](50) NOT NULL,
	[CentroCoste] [bigint] NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Mes] [decimal](18, 2) NULL,
	[Ajustes] [decimal](18, 2) NULL,
	[TotalMes] [decimal](18, 2) NULL,
	[Recent] [int] NOT NULL,
	[DteAdd] [datetime] NOT NULL,
	[FechaGasto] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSpending] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Sanofi].[tbModalidades]    Script Date: 19/12/2020 12:20:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Sanofi].[tbModalidades](
	[IdModalidad] [tinyint] IDENTITY(1,1) NOT NULL,
	[Modalidad] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdModalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Sanofi].[tbSolped]    Script Date: 19/12/2020 12:20:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Sanofi].[tbSolped](
	[IdSpending] [int] IDENTITY(1,1) NOT NULL,
	[SolNro] [int] NOT NULL,
	[NroOC] [varchar](50) NULL,
	[LineaPedido] [int] NULL,
	[NroArticulos] [int] NOT NULL,
	[NroSPE] [varchar](50) NULL,
	[HACAT] [varchar](100) NOT NULL,
	[PersonaSolicitud] [varchar](100) NOT NULL,
	[FechaEnvio] [date] NULL,
	[Estado] [varchar](50) NOT NULL,
	[Tipo] [varchar](30) NOT NULL,
	[Articulo] [varchar](100) NULL,
	[Cantidad] [decimal](18, 0) NOT NULL,
	[TotalLinea] [money] NOT NULL,
	[CodigoIVA] [varchar](100) NULL,
	[CuadroCuentas] [varchar](100) NOT NULL,
	[PersonaCreador] [varchar](100) NOT NULL,
	[FechaPedido] [date] NULL,
	[FechaCreacion] [date] NOT NULL,
	[FechaEntrega] [date] NULL,
	[FechaCaducidad] [date] NULL,
	[Proveedor] [varchar](200) NOT NULL,
	[Cuenta] [varchar](150) NULL,
	[IdOC] [int] NULL,
	[LeandingCostC] [varchar](150) NOT NULL,
	[EstadoLinea] [varchar](100) NULL,
	[Divisa] [varchar](10) NOT NULL,
	[Recent] [int] NOT NULL,
	[DteAdd] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSpending] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [Sanofi].[tbCategorias] ([Concatenar], [Agrupador], [CNATClase], [CNATSubc], [NoCta#], [Descripción], [Cenco], [Denominación], [Responsable], [ISindicator], [Hyperion], [MasaSalarial], [MC], [AgrupadorNew]) VALUES (N'A720104202222020005', N'AMORMAF', N'FIXED ASSETS DEPRECIATION', N'BUILDING', N'A72010420', N'DEPRECIACION EDIFICACIONES', 2222020005, N'MANUFACTURA TABLETAS', N'CAROLINA OROZCO N.', NULL, NULL, NULL, N'COP01', 81200)
INSERT [Sanofi].[tbCategorias] ([Concatenar], [Agrupador], [CNATClase], [CNATSubc], [NoCta#], [Descripción], [Cenco], [Denominación], [Responsable], [ISindicator], [Hyperion], [MasaSalarial], [MC], [AgrupadorNew]) VALUES (N'A720104202222020006', N'AMORMAF', N'FIXED ASSETS DEPRECIATION', N'BUILDING', N'A72010420', N'DEPRECIACION EDIFICACIONES', 2222020006, N'EMPAQUE TABLETAS', N'CAROLINA OROZCO N.', NULL, NULL, NULL, N'COP01', 81200)
INSERT [Sanofi].[tbCategorias] ([Concatenar], [Agrupador], [CNATClase], [CNATSubc], [NoCta#], [Descripción], [Cenco], [Denominación], [Responsable], [ISindicator], [Hyperion], [MasaSalarial], [MC], [AgrupadorNew]) VALUES (N'A720104202222020007', N'AMORMAF', N'FIXED ASSETS DEPRECIATION', N'BUILDING', N'A72010420', N'DEPRECIACION EDIFICACIONES', 2222020007, N'MANUFACTURA LIQUIDOS', N'CAROLINA OROZCO N.', NULL, NULL, NULL, N'COP01', 81200)
GO
SET IDENTITY_INSERT [Sanofi].[tbModalidades] ON 

INSERT [Sanofi].[tbModalidades] ([IdModalidad], [Modalidad]) VALUES (1, N'Athena')
INSERT [Sanofi].[tbModalidades] ([IdModalidad], [Modalidad]) VALUES (2, N'Solped')
INSERT [Sanofi].[tbModalidades] ([IdModalidad], [Modalidad]) VALUES (3, N'Gastos')
SET IDENTITY_INSERT [Sanofi].[tbModalidades] OFF
ALTER TABLE [Sanofi].[tbErroresExcel]  WITH CHECK ADD  CONSTRAINT [Fk_IdModalidad] FOREIGN KEY([IdModalidad])
REFERENCES [Sanofi].[tbModalidades] ([IdModalidad])
GO
ALTER TABLE [Sanofi].[tbErroresExcel] CHECK CONSTRAINT [Fk_IdModalidad]
GO
/****** Object:  StoredProcedure [Sanofi].[Sp_ConsultaAthenaFiltros]    Script Date: 19/12/2020 12:20:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [Sanofi].[Sp_ConsultaAthenaFiltros] 
@FechaInicial varchar(20),
@FechaFinal varchar(20)
AS
BEGIN
	SELECT A.Item,A.PurchasinDoc AS Document,A.DocumentDate AS [Date],A.Material,A.ShortTxt AS ShortText,A.OrderQty AS OrderQty,A.SBDeliveredQty AS DeliveryQty,Unit AS OrderUnit,A.NetPrice AS NetPrice,
	A.NetOrderValue AS NetOrderValue,A.Vendor AS Vendor,Currency AS Currency ,A.ReleaseState AS ReleaseState,A.POHistory AS POHistory FROM Sanofi.tbAthena A
	WHERE A.StatusS = 0 AND A.DocumentDate BETWEEN CONVERT(DATE, @FechaInicial , 103) AND CONVERT(DATE, @FechaFinal , 103)  
END






GO
/****** Object:  StoredProcedure [Sanofi].[Sp_ConsultaErroresExcel]    Script Date: 19/12/2020 12:20:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Sanofi].[Sp_ConsultaErroresExcel]
@IdModalidad tinyint

AS
BEGIN
	SELECT Mensaje, Campo, Fila, Fecha,[Valor] FROM Sanofi.tbErroresExcel
	WHERE IdModalidad =  @IdModalidad
	ORDER BY Fila ASC
END







GO
/****** Object:  StoredProcedure [Sanofi].[Sp_ConsultaGastosFiltros]    Script Date: 19/12/2020 12:20:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Sanofi].[Sp_ConsultaGastosFiltros] 
@Fecha VARCHAR(20)
AS
BEGIN
	SELECT
	   [NomCuenta] NomCuenta
      ,[NomCentroC] NomCentroC
      ,[NroCuenta] NroCuenta
      ,[CentroCoste] CentroCoste
	  , CONCAT([NroCuenta],' ',[CentroCoste])Concatenar
      ,[Tipo] Tipo
      ,[Mes] Mes
      ,[Ajustes] Ajustes
      ,[TotalMes] TotalMes
	FROM Sanofi.tbGastos
	WHERE FechaGasto = CONVERT(DATE, @Fecha , 105)
END






GO
/****** Object:  StoredProcedure [Sanofi].[Sp_ConsultaRegistrosExitososAthena]    Script Date: 19/12/2020 12:20:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [Sanofi].[Sp_ConsultaRegistrosExitososAthena]
AS
BEGIN
	SELECT A.Item,A.PurchasinDoc AS Document,A.DocumentDate AS [Date],A.Material,A.ShortTxt AS ShortText,A.OrderQty AS OrderQty,A.SBDeliveredQty AS DeliveryQty,Unit AS OrderUnit,A.NetPrice AS NetPrice,
	A.NetOrderValue AS NetOrderValue,A.Vendor AS Vendor,Currency AS Currency ,A.ReleaseState AS ReleaseState,A.POHistory AS POHistory,A.Recent AS Recent FROM Sanofi.tbAthena A
	WHERE A.Recent = 1 OR A.Recent = 2
END








GO
/****** Object:  StoredProcedure [Sanofi].[Sp_ConsultaRegistrosExitososGastos]    Script Date: 19/12/2020 12:20:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Sanofi].[Sp_ConsultaRegistrosExitososGastos]
AS
BEGIN
	SELECT NomCuenta,NomCentroC,NroCuenta,CentroCoste, CONCAT(NroCuenta,' ',CentroCoste) AS Concatenar,Tipo,Mes,
	Ajustes,TotalMes,Recent FROM Sanofi.tbGastos
	WHERE Recent = 1 OR Recent = 2
END








GO
/****** Object:  StoredProcedure [Sanofi].[Sp_ConsultaRegistrosExitososSolped]    Script Date: 19/12/2020 12:20:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [Sanofi].[Sp_ConsultaRegistrosExitososSolped]
AS
BEGIN
	SELECT SolNro,
		NroOC,
		LineaPedido,
		NroArticulos,
		NroSPE,
		HACAT,
		PersonaSolicitud,
		FechaEnvio,
		Estado,
		Tipo,
		Articulo,
		Cantidad,
		TotalLinea,
		CodigoIVA,
		CuadroCuentas,
		PersonaCreador,
		FechaPedido,
		FechaCreacion,
		FechaEntrega,
		FechaCaducidad,
		Proveedor,
		Cuenta,
		IdOC,
		LeandingCostC,
		EstadoLinea,
		Divisa,
		Recent
		FROM Sanofi.tbSolped
	WHERE Recent = 1 OR Recent = 2
END








GO
/****** Object:  StoredProcedure [Sanofi].[Sp_ConsultaSolpedFiltros]    Script Date: 19/12/2020 12:20:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [Sanofi].[Sp_ConsultaSolpedFiltros] 
@FechaInicial varchar(20),
@FechaFinal varchar(20)
AS
BEGIN
	SELECT SolNro,
		NroOC,
		LineaPedido,
		NroArticulos,
		NroSPE,
		HACAT,
		PersonaSolicitud,
		FechaEnvio,
		Estado,
		Tipo,
		Articulo,
		Cantidad,
		TotalLinea,
		CodigoIVA,
		CuadroCuentas,
		PersonaCreador,
		FechaPedido,
		FechaCreacion,
		FechaEntrega,
		FechaCaducidad,
		Proveedor,
		Cuenta,
		IdOC,
		LeandingCostC,
		EstadoLinea,
		Divisa,
		Recent
		FROM Sanofi.tbSolped 
	WHERE FechaCreacion BETWEEN CONVERT(DATE, @FechaInicial , 103) AND CONVERT(DATE, @FechaFinal , 103)  
END






GO
/****** Object:  StoredProcedure [Sanofi].[Sp_InsertarAthena]    Script Date: 19/12/2020 12:20:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Sanofi].[Sp_InsertarAthena]
	@IN_Xml XML
AS
  BEGIN

	UPDATE  Sanofi.tbAthena SET Recent = 0

	DELETE FROM Sanofi.tbErroresExcel
	WHERE IdModalidad = 1


  	 DECLARE @TablaTemporal TABLE 
	(
		TTItem INT,
		TTDocument INT,
		TTDate VARCHAR(100),
		TTMaterial VARCHAR(11),
		TTShortText VARCHAR(70),
		TTOrderQty VARCHAR(20),
		TTDeliveryQty VARCHAR(20),
		TTOrderUnit VARCHAR(10),
		TTNetPrice VARCHAR(20),
		TTNetOrderValue VARCHAR(20),
		TTVendor VARCHAR(100),
		TTCurrency VARCHAR(5),
		TTReleaseState VARCHAR(10),
		TTDelete BIT,
		TTPOHistory VARCHAR(70)
	);

		INSERT INTO @TablaTemporal(TTItem,
		TTDocument,
		TTDate,
		TTMaterial,
		TTShortText,
		TTOrderQty,
		TTDeliveryQty,
		TTOrderUnit,
		TTNetPrice,
		TTNetOrderValue,
		TTVendor,
		TTCurrency,
		TTReleaseState,
		TTDelete,
		TTPOHistory)
	 SELECT 
       IItem = ISNULL(T.Item.value('@Item', 'INT'), -1),  
	   Document =ISNULL(t.item.value('@Document', 'INT'),-1),
	   DDate = ISNULL(T.Item.value('@Date', 'VARCHAR(100)'),''),
	   Material = ISNULL(T.Item.value('@Material', 'VARCHAR(11)'),''),	   
	   ShortText = ISNULL(T.Item.value('@ShortText', 'VARCHAR(70)'), ''),
	   OrderQty = REPLACE(ISNULL(t.Item.value('@OrderQty', 'VARCHAR(20)'),0),',','.'),
	   DeliveryQty  = REPLACE(T.Item.value('@DeliveryQty',  'VARCHAR(20)'),',','.'),
	   OrderUnit = ISNULL(T.Item.value('@OrderUnit', 'VARCHAR(10)'), ''),  
	   NetPrice = REPLACE(ISNULL(t.Item.value('@NetPrice', 'VARCHAR(20)'),0),',','.'),
	   NetOrderValue = REPLACE(ISNULL(T.Item.value('@NetOrderValue', 'VARCHAR(20)'),0),',','.'),
	   Vendor = ISNULL(T.Item.value('@Vendor', 'VARCHAR(100)'),''),	   
	   Currency = ISNULL(T.Item.value('@Currency', 'VARCHAR(5)'), ''),
	   ReleaseState = T.Item.value('@ReleaseState', 'VARCHAR(10)'),
	   DDelete = ISNULL(T.Item.value('@Delete', 'BIT'), -1),
	   POHistory  = T.Item.value('@POHistory',  'VARCHAR(70)')
	   FROM   @IN_Xml.nodes('NewDataSet/ArchivoXML') AS T(Item)

	   
          --MERGE declaración SQL - Parte 2 
          --Sincronice la tabla de destino (tabla temporal) con  datos actualizados de la tabla de origen 
          MERGE Sanofi.tbAthena AS TARGET 
          using @TablaTemporal AS SOURCE 
          ON ( TARGET.PurchasinDoc = source.TTDocument ) and (TARGET.Item = source.TTItem) and (TARGET.DocumentDate= CONVERT(DATE, SOURCE.TTDate , 103))
          -- Cuando los registros coinciden, actualizar 
          -- Los registros si hay algún cambio. 
          WHEN matched THEN 
            UPDATE SET TARGET.Item = SOURCE.TTItem,
					   TARGET.ShortTxt = SOURCE.TTShortText, 
					   TARGET.OrderQty = CAST(SOURCE.TTOrderQty AS decimal(10,2)),
					   TARGET.SBDeliveredQty = CAST(SOURCE.TTDeliveryQty AS decimal(10,2)),
					   TARGET.Unit = SOURCE.TTOrderUnit,
					   TARGET.NetPrice = CAST(SOURCE.TTNetPrice AS decimal(10,2)),
					   TARGET.NetOrderValue =  CAST(SOURCE.TTNetOrderValue AS decimal(10,2)),
					   TARGET.Vendor = SOURCE.TTVendor,
					   TARGET.Currency = SOURCE.TTCurrency,
					   TARGET.ReleaseState = TTReleaseState,
					   TARGET.StatusS=SOURCE.TTDelete,
					   TARGET.POHistory = SOURCE.TTPOHistory,
					   TARGET.Recent = 2
          -- Cuando no hay registros coincidentes, inserte 
          --los registros entrantes de origen 
          --Tabla de mesa de destino. 
          WHEN NOT matched  THEN 
            INSERT (Item ,PurchasinDoc,DocumentDate	,Material,ShortTxt,OrderQty,SBDeliveredQty,Unit,NetPrice,NetOrderValue,Vendor,Currency,ReleaseState,StatusS,POHistory,Recent,DteAdd) 
            VALUES (TTItem,
			SOURCE.TTDocument,
			CONVERT(DATE, SOURCE.TTDate , 103),
			SOURCE.TTMaterial,
			SOURCE.TTShortText,
			CAST(SOURCE.TTOrderQty AS decimal(10,2)),
			CAST(SOURCE.TTDeliveryQty AS decimal(10,2)),
			SOURCE.TTOrderUnit,
			CAST(SOURCE.TTNetPrice AS decimal(10,2)),
			CAST(SOURCE.TTNetOrderValue AS decimal(10,2)),
			SOURCE.TTVendor,
			SOURCE.TTCurrency,
			SOURCE.TTReleaseState,
			SOURCE.TTDelete,
			SOURCE.TTPOHistory,
			1,
			getdate()) ;
  END






GO
/****** Object:  StoredProcedure [Sanofi].[Sp_InsertarErrores]    Script Date: 19/12/2020 12:20:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [Sanofi].[Sp_InsertarErrores]
	@IN_Xml XML,
	@IdModalidad tinyint	
as

	   DELETE FROM Sanofi.tbErroresExcel
	   WHERE IdModalidad = @IdModalidad


 	INSERT INTO  Sanofi.tbErroresExcel(Mensaje, Campo, Fila,IdModalidad, Fecha,Valor)
	 SELECT 
       Mensaje = ISNULL(T.Item.value('@Mensaje', 'VARCHAR(500)'), 1),
       Campo  = ISNULL(T.Item.value('@Campo',  'VARCHAR(200)'),''),
       Fila = ISNULL(T.Item.value('@Fila', 'INT'),''),
	   IdModalidad = T.Item.value('@IdModalidad', 'tinyint'),
	   Fecha = GETDATE(),
	   Valor=ISNULL(T.Item.value('@Valor', 'VARCHAR(300)'),'')
	   FROM   @IN_Xml.nodes('NewDataSet/ArchivoXML') AS T(Item)








GO
/****** Object:  StoredProcedure [Sanofi].[Sp_InsertarGastos]    Script Date: 19/12/2020 12:20:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Sanofi].[Sp_InsertarGastos]
	@IN_Xml XML,
	@FechaGasto VARCHAR(20)
AS
  BEGIN
	

	UPDATE  Sanofi.tbGastos SET Recent = 0

	DELETE FROM Sanofi.tbErroresExcel
	WHERE IdModalidad = 3


  	 DECLARE @TablaTemporal TABLE 
	(
		TTNomCuenta VARCHAR(200),
		TTNomCentroC VARCHAR(200),
		TTNroCuenta VARCHAR(50),
		TTCentroCoste BIGINT,
		TTTipo VARCHAR(50),
		TTMes VARCHAR(20),
		TTAjustes VARCHAR(20),
		TTTotalMes VARCHAR(20)
	);

		INSERT INTO @TablaTemporal(
		TTNomCuenta,
		TTNomCentroC,
		TTNroCuenta,
		TTCentroCoste,
		TTTipo,
		TTMes,
		TTAjustes,
		TTTotalMes)
	 SELECT 
        NomCuenta	= T.Item.value('@NomCuenta', 'VARCHAR(200)'),  
	    NomCentroC	= T.Item.value('@NomCentroC', 'VARCHAR(200)'),
	    NroCuenta	= T.Item.value('@NroCuenta', 'VARCHAR(50)'),
	    CentroCoste	= T.Item.value('@CentroCoste', 'BIGINT'),
	    Tipo		= T.Item.value('@Tipo', 'VARCHAR(50)'), 
	    Mes			= REPLACE(ISNULL(t.Item.value('@Mes', 'VARCHAR(20)'),0),',','.'),
	    Ajustes		= REPLACE(ISNULL(T.Item.value('@Ajustes', 'VARCHAR(20)'),0),',','.'),  
	    TotalMes	= REPLACE(ISNULL(t.Item.value('@TotalMes', 'VARCHAR(20)'),0),',','.')
	    FROM   @IN_Xml.nodes('NewDataSet/ArchivoXML') AS T(Item)

	   
          --MERGE declaración SQL - Parte 2 
          --Sincronice la tabla de destino (tabla temporal) con  datos actualizados de la tabla de origen 
          MERGE Sanofi.tbGastos AS TARGET 
          using @TablaTemporal AS SOURCE 
          ON ( TARGET.NomCuenta = source.TTNomCuenta ) and (TARGET.CentroCoste = source.TTCentroCoste) 
          -- Cuando los registros coinciden, actualizar 
          -- Los registros si hay algún cambio. 
          WHEN matched THEN 
            UPDATE SET TARGET.NomCuenta		= SOURCE.TTNomCuenta,		
					   TARGET.NomCentroC	= SOURCE.TTNomCentroC,	
					   TARGET.NroCuenta		= SOURCE.TTNroCuenta,		
					   TARGET.CentroCoste	= CAST(SOURCE.TTCentroCoste AS BIGINT),	
					   TARGET.Tipo			= SOURCE.TTTipo,
					   TARGET.Mes			= CAST(SOURCE.TTMes AS decimal(18,2)),
					   TARGET.Ajustes		= CAST(SOURCE.TTAjustes AS decimal(18,2)),	
					   TARGET.TotalMes		= CAST(SOURCE.TTTotalMes AS decimal(18,2)),	
					   TARGET.Recent = 2
          -- Cuando no hay registros coincidentes, inserte 
          --los registros entrantes de origen 
          --Tabla de mesa de destino. 
          WHEN NOT matched  THEN 
            INSERT 
            VALUES (
			SOURCE.TTNomCuenta,		
			SOURCE.TTNomCentroC,	
			SOURCE.TTNroCuenta,		
			CAST(SOURCE.TTCentroCoste AS BIGINT),	
			SOURCE.TTTipo,
			CAST(SOURCE.TTMes AS decimal(18,2)),		
			CAST(SOURCE.TTAjustes AS decimal(18,2)),	
			CAST(SOURCE.TTTotalMes AS decimal(18,2)),	
			1,
			getdate(),
			CONVERT(DATE, @FechaGasto, 105)) ;
  END






GO
/****** Object:  StoredProcedure [Sanofi].[Sp_InsertarSolped]    Script Date: 19/12/2020 12:20:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Sanofi].[Sp_InsertarSolped]
	@IN_Xml XML 
AS
  BEGIN
	SET NOCOUNT OFF;
	UPDATE  Sanofi.tbSolped SET Recent = 0

	DELETE FROM Sanofi.tbErroresExcel
	WHERE IdModalidad = 2


  	 DECLARE @TablaTemporal TABLE 
	(
		TTSolNro INT,
		TTNroOC VARCHAR(50),
		TTLineaPedido INT,
		TTNroArticulos INT,
		TTNroSPE VARCHAR(50),
		TTHACAT VARCHAR(100),
		TTPersonaSolicitud VARCHAR(100),
		TTFechaEnvio VARCHAR(15),
		TTEstado VARCHAR(50),
		TTTipo VARCHAR(30),
		TTArticulo VARCHAR(100),
		TTCantidad VARCHAR(20),
		TTTotalLinea VARCHAR(20),
		TTCodigoIVA VARCHAR(100),
		TTCuadroCuentas VARCHAR(100),
		TTPersonaCreador VARCHAR(100),
		TTFechaPedido VARCHAR(15),
		TTFechaCreacion VARCHAR(15),
		TTFechaEntrega VARCHAR(15),
		TTFechaCaducidad VARCHAR(15),
		TTProveedor VARCHAR(200),
		TTCuenta VARCHAR(150),
		TTIdOC INT,
		TTLeandingCostC VARCHAR(150),
		TTEstadoLinea VARCHAR(100),
		TTDivisa VARCHAR(10)
	);

		INSERT INTO @TablaTemporal(TTSolNro,
		TTNroOC,
		TTLineaPedido,
		TTNroArticulos,
		TTNroSPE,
		TTHACAT,
		TTPersonaSolicitud,
		TTFechaEnvio,
		TTEstado,
		TTTipo,
		TTArticulo,
		TTCantidad,
		TTTotalLinea,
		TTCodigoIVA,
		TTCuadroCuentas,
		TTPersonaCreador,
		TTFechaPedido,
		TTFechaCreacion,
		TTFechaEntrega,
		TTFechaCaducidad,
		TTProveedor,
		TTCuenta,
		TTIdOC,
		TTLeandingCostC,
		TTEstadoLinea,
		TTDivisa)
	 SELECT 
       SolNro = T.Item.value('@SolNro', 'INT'),  
	   NroOC =ISNULL(T.item.value('@NroOC', 'VARCHAR(50)'),''),
	   LineaPedido = ISNULL(T.Item.value('@LineaPedido', 'INT'),null),
	   NroArticulos = T.Item.value('@NroArticulos', 'INT'),	   
	   NroSPE = ISNULL(T.Item.value('@NroSPE', 'VARCHAR(50)'), ''),
	   HACAT = T.Item.value('@HACAT', 'VARCHAR(100)'),
	   PersonaSolicitud  = T.Item.value('@PersonaSolicitud',  'VARCHAR(100)'),
	   FechaEnvio = T.Item.value('@FechaEnvio', 'VARCHAR(10)'), 
	   Estado = T.Item.value('@Estado', 'VARCHAR(50)'),
	   Tipo = T.Item.value('@Tipo', 'VARCHAR(30)'),
	   Articulo = ISNULL(T.Item.value('@Articulo', 'VARCHAR(100)'),''),	   
	   Cantidad = REPLACE(ISNULL(T.Item.value('@Cantidad', 'VARCHAR(20)'), ''),',','.'),
	   TotalLinea = REPLACE(ISNULL(T.Item.value('@TotalLinea', 'VARCHAR(20)'),''),',','.'),
	   CodigoIVA = ISNULL(T.Item.value('@CodigoIVA', 'VARCHAR(100)'), ''),
	   CuadroCuentas  = T.Item.value('@CuadroCuentas',  'VARCHAR(100)'),
	   PersonaCreador = T.Item.value('@PersonaCreador', 'VARCHAR(100)'), 
	   FechaPedido = t.Item.value('@FechaPedido', 'VARCHAR(15)'),
	   FechaCreacion  =T.Item.value('@FechaCreacion',  'VARCHAR(15)'),
	   FechaEntrega = T.Item.value('@FechaEntrega', 'VARCHAR(15)'),
	   FechaCaducidad = t.Item.value('@FechaCaducidad', 'VARCHAR(20)'),
	   Proveedor = T.Item.value('@Proveedor', 'VARCHAR(200)'),
	   Cuenta = ISNULL(T.Item.value('@Cuenta', 'VARCHAR(150)'),''),	   
	   IdOC = ISNULL(T.Item.value('@IdOC', 'INT'), null),
	   LeandingCostC = T.Item.value('@LeandingCostC', 'VARCHAR(150)'),
	   EstadoLinea = ISNULL(T.Item.value('@EstadoLinea', 'VARCHAR(100)'), ''),
	   Divisa  = T.Item.value('@Divisa',  'VARCHAR(10)')
	   FROM   @IN_Xml.nodes('NewDataSet/ArchivoXML') AS T(Item)


	   
          --MERGE declaración SQL - Parte 2 
          --Sincronice la tabla de destino (tabla temporal) con  datos actualizados de la tabla de origen 
          MERGE Sanofi.tbSolped AS TARGET 
          using @TablaTemporal AS SOURCE 
          ON ( TARGET.SolNro = source.TTSolNro ) and (TARGET.NroArticulos = source.TTNroArticulos)
          -- Cuando los registros coinciden, actualizar 
          -- Los registros si hay algún cambio. 
          WHEN matched THEN 
            UPDATE SET 
			TARGET.NroOC			= SOURCE.TTNroOC,
			TARGET.LineaPedido		= SOURCE.TTLineaPedido,
			TARGET.NroSPE			= SOURCE.TTNroSPE,
			TARGET.HACAT			= SOURCE.TTHACAT,
			TARGET.PersonaSolicitud = SOURCE.TTPersonaSolicitud,	
			TARGET.FechaEnvio		= CONVERT(DATE, SOURCE.TTFechaEnvio , 103),
			TARGET.Estado			= SOURCE.TTEstado,
			TARGET.Tipo				= SOURCE.TTTipo,
			TARGET.Articulo			= SOURCE.TTArticulo,
			TARGET.Cantidad			= CAST(SOURCE.TTCantidad AS decimal(10,2)),
			TARGET.TotalLinea		= CONVERT(MONEY,SOURCE.TTTotalLinea),
			TARGET.CodigoIVA		= SOURCE.TTCodigoIVA,
			TARGET.CuadroCuentas	= SOURCE.TTCuadroCuentas,
			TARGET.PersonaCreador	= SOURCE.TTPersonaCreador,
			TARGET.FechaPedido 		=CONVERT(DATE, SOURCE.TTFechaPedido , 103),
			TARGET.FechaCreacion	= CONVERT(DATE, SOURCE.TTFechaCreacion , 103),
			TARGET.FechaEntrega		= CONVERT(DATE,SOURCE.TTFechaEntrega , 103),
			TARGET.FechaCaducidad	= CONVERT(DATE,SOURCE.TTFechaCaducidad , 103),
			TARGET.Proveedor		= SOURCE.TTProveedor,
			TARGET.Cuenta			= SOURCE.TTCuenta,
			TARGET.IdOC				= SOURCE.TTIdOC,
			TARGET.LeandingCostC	= SOURCE.TTLeandingCostC,
			TARGET.EstadoLinea		= SOURCE.TTEstadoLinea,
			TARGET.Divisa			= SOURCE.TTDivisa,
			TARGET.Recent = 2
          -- Cuando no hay registros coincidentes, inserte 
          --los registros entrantes de origen 
          --Tabla de mesa de destino. 
          WHEN NOT matched  THEN 
            INSERT --(Item ,PurchasinDoc,DocumentDate	,Material,ShortTxt,OrderQty,SBDeliveredQty,Unit,NetPrice,NetOrderValue,Vendor,Currency,ReleaseState,StatusS,POHistory,Recent,DteAdd) 
            VALUES (
			SOURCE.TTSolNro,
			SOURCE.TTNroOC,
			SOURCE.TTLineaPedido,
			SOURCE.TTNroArticulos,
			SOURCE.TTNroSPE,
			SOURCE.TTHACAT,
			SOURCE.TTPersonaSolicitud,			
			CONVERT(DATE, SOURCE.TTFechaEnvio , 103),
			SOURCE.TTEstado,
			SOURCE.TTTipo,
			SOURCE.TTArticulo,
			CAST(SOURCE.TTCantidad AS decimal(10,2)),
			CONVERT(MONEY,SOURCE.TTTotalLinea),
			SOURCE.TTCodigoIVA,
			SOURCE.TTCuadroCuentas,
			SOURCE.TTPersonaCreador,
			CONVERT(DATE, SOURCE.TTFechaPedido , 103),
			CONVERT(DATE, SOURCE.TTFechaCreacion , 103),
			CONVERT(DATE, SOURCE.TTFechaEntrega , 103),
			CONVERT(DATE, SOURCE.TTFechaCaducidad , 103),
			SOURCE.TTProveedor,
			SOURCE.TTCuenta,
			SOURCE.TTIdOC,
			SOURCE.TTLeandingCostC,
			SOURCE.TTEstadoLinea,
			SOURCE.TTDivisa,
			1,
			getdate()) ;
  END






GO
/****** Object:  StoredProcedure [Sanofi].[Sp_ListarGastosConcatenar]    Script Date: 19/12/2020 12:20:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Juan Esteban Parra, Algar Tech.>
-- Create date: <18/11/2020>
-- Description:	<Obtener la lista de tipos>
-- =============================================
CREATE PROCEDURE [Sanofi].[Sp_ListarGastosConcatenar]
	@Fecha varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	CREATE TABLE #concatenar (Nombre varchar(50))
	INSERT INTO  #concatenar VALUES('Todos')
	INSERT INTO #concatenar
	SELECT CONCAT(NroCuenta,' ',CentroCoste) from [Sanofi].[tbGastos] WHERE FechaGasto = CONVERT(DATE,@Fecha,105)

	SELECT Nombre FROM #concatenar
	DROP TABLE #concatenar
END


GO
/****** Object:  StoredProcedure [Sanofi].[Sp_ListarGastosCuentas]    Script Date: 19/12/2020 12:20:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Juan Esteban Parra, Algar Tech.>
-- Create date: <18/11/2020>
-- Description:	<Obtener la lista de cuentas>
-- =============================================
CREATE PROCEDURE [Sanofi].[Sp_ListarGastosCuentas]
	@Fecha varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	CREATE TABLE #cuenta (Nombre varchar(50))
	INSERT INTO  #cuenta VALUES('Todos')
	INSERT INTO #cuenta
	SELECT DISTINCT(LTRIM(RTRIM(REPLACE(NomCuenta,'*','')))) from [Sanofi].[tbGastos] WHERE FechaGasto = CONVERT(DATE,@Fecha,105)

	SELECT Nombre FROM #cuenta
	DROP TABLE #cuenta
END


GO
/****** Object:  StoredProcedure [Sanofi].[Sp_ListarGastosTipos]    Script Date: 19/12/2020 12:20:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Juan Esteban Parra, Algar Tech.>
-- Create date: <18/11/2020>
-- Description:	<Obtener la lista de tipos>
-- =============================================
CREATE PROCEDURE [Sanofi].[Sp_ListarGastosTipos]
	@Fecha varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	CREATE TABLE #tipo (Nombre varchar(50))
	INSERT INTO  #tipo VALUES('Todos')
	INSERT INTO #tipo
	SELECT DISTINCT(Tipo) from [Sanofi].[tbGastos] WHERE FechaGasto = CONVERT(DATE,@Fecha,105)

	SELECT Nombre FROM #tipo
	DROP TABLE #tipo
END


GO
/****** Object:  StoredProcedure [Sanofi].[Sp_ReportesAthena]    Script Date: 19/12/2020 12:20:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Juan Esteban Parra, Algar Tech.>
-- Create date: <16/11/2020>
-- Description:	<Obtener el reporte de Athena>
-- =============================================
CREATE PROCEDURE [Sanofi].[Sp_ReportesAthena]
	-- Add the parameters for the stored procedure here
	--@FechaInicial VARCHAR(20),
	--@FechaFinal VARCHAR(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT PurchasinDoc Document,Material,ShortTxt ShortText,OrderQty,NetOrderValue,Vendor,Currency FROM [Sanofi].[tbAthena]
	WHERE POHistory = '' --and DocumentDate between CONVERT(DATE,@FechaInicial,103) AND CONVERT(DATE,@FechaFinal,103)
END


GO
/****** Object:  StoredProcedure [Sanofi].[Sp_ReportesGastos]    Script Date: 19/12/2020 12:20:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Juan Esteban Parra, Algar Tech.>
-- Create date: <16/11/2020>
-- Description:	<Obtener el reporte de Athena>
-- =============================================
CREATE PROCEDURE [Sanofi].[Sp_ReportesGastos]
	-- Add the parameters for the stored procedure here
	@Fecha VARCHAR(20),
	@Tipo VARCHAR(500),
	@Cuenta VARCHAR(500),
	@Concatenar VARCHAR(500)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT CentroCoste,NroCuenta, SUM(Mes)Mes, SUM(TotalMes)TotalMes FROM [Sanofi].[tbGastos] 
	WHERE TIPO IN (SELECT Split.a.value('.', 'NVARCHAR(MAX)') 
	FROM
	(
		SELECT CAST('<X>'+REPLACE(@Tipo, ',', '</X><X>')+'</X>' AS XML) AS String
	) AS A
	CROSS APPLY String.nodes('/X') AS Split(a)) 
	AND CentroCoste IS NOT NULL AND FechaGasto = CONVERT(DATE,@FECHA,105)  
	AND NomCuenta  IN (SELECT Split.a.value('.', 'NVARCHAR(MAX)') 
	FROM
	(
		SELECT CAST('<X>'+REPLACE(@Cuenta, ',', '</X><X>')+'</X>' AS XML) AS String
	) AS A
	CROSS APPLY String.nodes('/X') AS Split(a)) 
	AND CONCAT(NroCuenta,' ',CentroCoste) IN (SELECT Split.a.value('.', 'NVARCHAR(MAX)') 
	FROM
	(
		SELECT CAST('<X>'+REPLACE(@Concatenar, ',', '</X><X>')+'</X>' AS XML) AS String
	) AS A
	CROSS APPLY String.nodes('/X') AS Split(a)) 
	GROUP BY Mes,TotalMes,CentroCoste,NroCuenta
	HAVING SUM(Mes)!=0 AND SUM(TotalMes) != 0
	ORDER BY CentroCoste,NroCuenta

END


GO
