@{
    ViewBag.Title = "Sanofi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 row">
    <h1>Consolidado de gastos</h1>
    <!-- DataTables Example -->
    <div class="form-group col-md-12 row">
        <center style="display: block; margin: auto;">
            <img class="img-thumbnail" src="~/Content/Images/Sanofi-Logo.jpg" style="width:70%;border-style: none;" />
        </center>
    </div>
</div>